/**
* Lightbox
*/
dialog::backdrop {
    background-color: salmon;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 2s forwards;
}

@keyframes backdrop-fade-in {
    from {opacity: 0;}
    to {opacity: 0.8;}
}